.form {
    text-align: center;
    border: 10px solid skyblue;
    border-radius: 10px;
    margin-top: 300px;
    padding-left: 0px;
    box-shadow: 10px 10px 20px  tomato;
    

}
body{
    background-image: url('icon.jpg');
    background-size: cover;
}

.one{
    size: 300px;
    color: red;
    margin: 10px;

}
.two{
    margin-bottom: 10px;
}